<section class="overflow-hidden relative">
  <img
    src="/nipun-is-a-dev.svg"
    alt="nipun.is-a.dev"
    class="w-full max-w-none h-auto relative"
  />

  <div class="px-8 md:px-12 py-24 max-w-2xl mx-auto relative">
    <div>
      <span
        class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-sm leading-6 text-black ring-1 ring-zinc-200 bg-white ring-inset"
      >
        <p>Available for work!</p>
        <div
          class="h-2 w-2 rounded-full bg-green-500 border-2 border-green-300"
        >
        </div>

        <!-- <div class="h-2 w-2 rounded-full border-green-500 border-2"></div> -->
      </span>
      <h2 class="text-5xl mt-12 tracking-tighter font-normal text-black">
        Performance-Oriented Engineer <span class="block"
          >with UX-oriented Prototyping</span
        >
      </h2>
    </div>
    <ul
      class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12"
    >
      <div>
        <p>Good design is always a good thing. But good code is rare.</p>
      </div>
      <div>
        <p>
          Specialized in building high-performance web User Interfaces to meet
          those long-running good code standards.
        </p>
      </div>
      <em class="col-span-full text-sm mt-8">
        <p>
          Once a wise man said; slow is smooth. smooth is fast. <span
            class="block text-black">⏤ Me.(I don't know who said it!)</span
          >
        </p>
      </em>
    </ul>
  </div>
</section>
