<section class="scroll-mt-12" id="how">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div>
      <h2 class="text-2xl tracking-tighter font-light lg:text-4xl text-black">
        How i'm keeping up
      </h2>
    </div>
    <div>
      <p class="text-sm text-zinc-500 mt-8">
        I'm on my finals of my Computer Science degree, (wish me luck!) and I'm
        currently working as a Associate Software Engineer at LOLCTECH, a
        FinTech company in Sri Lanka.
        <br /><br />
        I'll tell you my story: (button will appear if my sorry procastinative ass
        gets it together)
      </p>
    </div>
  </div>
</section>
