<footer class="overflow-hidden">
  <!-- <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto"> -->
  <!-- <div class="flex flex-col gap-4">
      <div>
        <h3 class="text-black text-base lg:text-xl">Navigation</h3>
        <ul
          role="list"
          class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase"
        >
          <li>
            <a href="#work" class="hover:text-black"> Work</a>
          </li>
          <li>
            <a href="#how" class="hover:text-black"> How it works</a>
          </li>
          <li>
            <a href="#pricing" class="hover:text-black"> Pricing</a>
          </li>
          <li>
            <a href="#faq" class="hover:text-black"> FAQ</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Other projects</h3>
        <ul
          role="list"
          class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase"
        >
          <li>
            <a href="https://www.lexingtonthemes.com" class="hover:text-black">
              Lexington Themes.
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Resources</h3>
        <ul
          role="list"
          class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase"
        >
          <li>
            <a href="#_" class="hover:text-black"> Breeew </a>
          </li>
          <li>
            <a href="_#" class="hover:text-black"> Stripe</a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Socials</h3>
        <ul
          role="list"
          class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase"
        >
          <li>
            <a
              href="https://twitter.com/Mike_Andreuzza"
              class="hover:text-black"
            >
              @Mike_Andreuzza
            </a>
          </li>
        </ul>
      </div>
    </div> -->
</footer>
<div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
  <nav class="flex flex-col lg:flex-row gap-8">
    <p class="text-sm text-black">
      @2025 nipun.is-a.dev All rights are not reserved. This website is open
      source!
    </p>
  </nav>
  <!-- <section class="gap-x-8 gap-y-6 mt-6">
      <div>
        <p class="text-sm text-zinc-500 lg:col-span-2">
          Minimal is not affiliated with Stripe, Breeew, Astro, or Tailwind
          Labs, nor is it endorsed or sponsored by them. Designed and built by
          <a
            href="https://michaelandreuzza.com/"
            class="text-sm text-black hover:text-blue-300">Michael Andreuzza</a
          >, this website was crafted using Astro & Tailwind CSS. Crafted in
          Åland Islands, Finland.
        </p>
      </div>
    </section> -->
</div>
<img
  src="/nipun-is-a-dev.svg"
  alt="nipun.is-a.dev"
  class="w-full max-w-none h-auto relative"
/>
